@media screen and (min-width: 320px) {
 .layout {
   display: flex;
   flex-direction: column-reverse;
   &.container {
     padding: 0;
   }
 }
}

@media screen and (min-width: 1024px) {
  .layout {
    display: grid;
    grid-template-columns: 620px 340px;
    grid-column-gap: 30px;
  }
}
